@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    font-family: 'Inter', sans-serif;
}

element.style {
    background-color: #177CAA;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    /*background: #1B2F62;*/
}

::-webkit-input-placeholder {
    font:bolder;
    font-weight:lighter;
}
/*.container {
    width: 390px;
    display: block;
    margin: 60px auto 0 auto;
    background-color: #ffffff;*/
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);*/
/*}*/



.form {
    width: 250px;
    display: block;
    margin: 60px auto 0 auto;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-color: #fff;
    padding: 3rem;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: #3A5693;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}


.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

    .input-box input {
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

        .input-box input:hover {
            background-color: #eeeeee75;
        }

        .input-box input:focus-visible {
            outline: 1px solid #3A5693;
        }

    .input-box label,
    .gender-title h6 {
        font-size: 0.75rem;
        font-weight: 600;
        color: #000000c0;
    }

    .input-box input::placeholder {
        color: #000000be;
    }

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.gerar-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    /* background-color: #6c63ff;*/
    /*background-color: #3A5693;*/
    background-color: #3A5693;
    color: #ffffff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

    .gerar-button button:hover {
        background-color: #6495ED;
    }

    .gerar-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
    }

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 0.5rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-title h6 {
        margin: 0;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}
