<!DOCTYPE html>
<html>
<head>
    <title>RPA XML</title>
    <meta charset="utf-8">

    <script src="./scripts/jquery-3.5.1.js"></script>
    <script src="./scripts/rpa/gerarScript.js"></script>
    <script src="./scripts/rpa/sweetalert.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/rpa.css">



</head>
<body>
  
    <div id="container" class="container">

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>RPA xml</h1>
                    </div>
                    <div class="login-button">
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="filial">Filial</label>
                        <input id="filial" type="number" placeholder="Digite a filial"  max="4">
                    </div>

                    <div class="input-box">
                        <label for="mes">Mês</label>
                        <input id="mes" type="number" placeholder="Digite o mês" max="12">
                    </div>

                    <div class="input-box">
                        <label for="ano" width="20px">Ano</label>
                        <input id="ano" type="number" placeholder="Digite o ano"  max="2100">
                    </div>
                    <!--<div class="input-box">
                        <label for="mes" width="20px">Mes</label>
                        <select class="input-box" id="mes" >
                            <option value="0">Selecione o mês</option>
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">Julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>-->
                </div>

                <div  class="gerar-button">
                    <button COLOR="#0000AA" id="gerar">Gerar </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>


